{% extends "SoloPuertasWeb/base.html" %}

{% load static %}

{% block content %}
<!-- banner -->
<div class="page-head">
	<div class="container">
		<h3>Puertas</h3>
	</div>
</div>
<!-- //banner -->

<!-- mens -->
<div class="portfolio">
		<div class="container"> 
			<div class="w3ls-title"> 
				<h3><span>Galería</span></h3>
				<p>En esta sección podrá ver una colección de fotos de algunos de nuestros trabajos.</p>
			</div>
			<div class="wthree_services_grids">	
				<ul class="simplefilter">
					<li class="active" data-filter="all">All</li>
					<li data-filter="1">Proyecto 1</li>
					<li data-filter="2">Proyecto 2</li>
					<li data-filter="3">Proyecto 3</li>
				</ul>
				<div class="filtr-container">
					<div class="col-md-4 col-sm-4 col-xs-6 agi-pro filtr-item" data-category="1" data-sort="">
						<div class="agileits_portfolio_grid">
							<a class="group1" href="{% static 'SoloPuertasWeb/galeria/g-01.jpg' %}" title="Prefabrication">
								<img class="img-responsive" src="{% static 'SoloPuertasWeb/galeria/g-01.jpg' %}" alt=""  /> 
								<div class="w3_textbox">
									<h4>Proyecto</h4>
									<p>Foto</p>
								</div>
							</a> 
						</div>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-6 agi-pro filtr-item" data-category="2" data-sort="">
						<div class="agileits_portfolio_grid">
							<a class="group1" href="{% static 'SoloPuertasWeb/galeria/g-02.jpg' %}" title="Prefabrication">
								<img src="{% static 'SoloPuertasWeb/galeria/g-02.jpg' %}" alt="" class="img-responsive" />
								<div class="w3_textbox">
									<h4>Proyecto</h4>
									<p>Foto</p>
								</div>
							</a>	
						</div>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-6 agi-pro filtr-item" data-category="1" data-sort="">
						<div class="agileits_portfolio_grid">
							<a class="group1" href="{% static 'SoloPuertasWeb/galeria/g-03.jpg' %}" title="Prefabrication">
								<img src="{% static 'SoloPuertasWeb/galeria/g-03.jpg' %}" alt="" class="img-responsive" />
								<div class="w3_textbox">
									<h4>Proyecto</h4>
									<p>Foto</p>
								</div>
							</a>	
						</div>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-6 agi-pro filtr-item" data-category="3" data-sort="">
						<div class="agileits_portfolio_grid">
							<a class="group1" href="{% static 'SoloPuertasWeb/galeria/g-04.jpg' %}" title="Prefabrication">
								<img src="{% static 'SoloPuertasWeb/galeria/g-04.jpg' %}" alt="" class="img-responsive" />
								<div class="w3_textbox">
									<h4>Proyecto</h4>
									<p>Foto</p>
								</div>
							</a>	
						</div>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-6 agi-pro filtr-item" data-category="3" data-sort="">
						<div class="agileits_portfolio_grid">
							<a class="group1" href="{% static 'SoloPuertasWeb/galeria/g-05.jpg' %}" title="Prefabrication">
								<img src="{% static 'SoloPuertasWeb/galeria/g-05.jpg' %}" alt="" class="img-responsive" />
								<div class="w3_textbox">
									<h4>Proyecto</h4>
									<p>Foto</p>
								</div>
							</a>	
						</div>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-6 agi-pro filtr-item" data-category="2" data-sort="">
						<div class="agileits_portfolio_grid">
							<a class="group1" href="{% static 'SoloPuertasWeb/galeria/g-06.jpg' %}" title="Prefabrication">
								<img src="{% static 'SoloPuertasWeb/galeria/g-06.jpg' %}" alt="" class="img-responsive" />
								<div class="w3_textbox">
									<h4>Proyecto</h4>
									<p>Foto</p>
								</div>
							</a>	
						</div>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-6 agi-pro filtr-item" data-category="1" data-sort="">
						<div class="agileits_portfolio_grid">
							<a class="group1" href="{% static 'SoloPuertasWeb/galeria/g-07.jpg' %}" title="Prefabrication">
								<img src="{% static 'SoloPuertasWeb/galeria/g-07.jpg' %}" alt="" class="img-responsive" />
								<div class="w3_textbox">
									<h4>Proyecto</h4>
									<p>Foto</p>
								</div>
							</a>	
						</div>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-6 agi-pro filtr-item" data-category="3" data-sort="">
						<div class="agileits_portfolio_grid">
							<a class="group1" href="{% static 'SoloPuertasWeb/galeria/g-08.jpg' %}" title="Prefabrication">
								<img src="{% static 'SoloPuertasWeb/galeria/g-08.jpg' %}" alt="" class="img-responsive" />
								<div class="w3_textbox">
									<h4>Proyecto</h4>
									<p>Foto</p>
								</div>
							</a>	
						</div>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-6 agi-pro filtr-item" data-category="2" data-sort="">
						<div class="agileits_portfolio_grid">
							<a class="group1" href="{% static 'SoloPuertasWeb/galeria/g-09.jpg' %}" title="Prefabrication">
								<img src="{% static 'SoloPuertasWeb/galeria/g-09.jpg' %}" alt="" class="img-responsive" />
								<div class="w3_textbox">
									<h4>Proyecto</h4>
									<p>Foto</p>
								</div>
							</a>	
						</div>
					</div>
				   <div class="clearfix"> </div>
				</div>
			</div>
		</div>
	</div>	
	<!-- //mens -->
	<!-- start-smooth-scrolling -->
		<script type="text/javascript" src="{% static 'SoloPuertasWeb/js/galeria/move-top.js' %}"></script>
		<script type="text/javascript" src="{% static 'SoloPuertasWeb/js/galeria/easing.js' %}"></script>
		<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
			});
		});
		</script>
	<!-- //start-smoth-scrolling -->
	<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
	<!-- pop-up-plugin -->
	<script src="{% static 'SoloPuertasWeb/js/galeria/jquery.colorbox.js' %}"></script>
	<script>
		$(document).ready(function(){
			//Examples of how to assign the Colorbox event to elements
			$(".group1").colorbox({rel:'group1'});
			$(".callbacks").colorbox({
				onOpen:function(){ alert('onOpen: colorbox is about to open'); },
				onLoad:function(){ alert('onLoad: colorbox has started to load the targeted content'); },
				onComplete:function(){ alert('onComplete: colorbox has displayed the loaded content'); },
				onCleanup:function(){ alert('onCleanup: colorbox has begun the close process'); },
				onClosed:function(){ alert('onClosed: colorbox has completely closed'); }
			});
			
			//Example of preserving a JavaScript event for inline calls.
			$("#click").click(function(){ 
				$('#click').css({"background-color":"#f00", "color":"#fff", "cursor":"inherit"}).text("Open this window again and this message will still be here.");
				return false;
			});
		});
	</script>
	<!-- //pop-up-plugin --> 
	
	<!-- filter-plugin -->
	<script src="{% static 'SoloPuertasWeb/js/galeria/jquery.filterizr.js' %}"></script>  
	<script src="{% static 'SoloPuertasWeb/js/galeria/controls.js' %}"></script> 
	<script type="text/javascript">
		$(function() {
			//Initialize filterizr with default options
			$('.filtr-container').filterizr();
		});
	</script>	
	<!-- //filter-plugin --> 

{% endblock %}